body{
  background: url(../img/playa.jpg);
	background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;


}
.transparencia{
background: rgba(0, 0, 0, 0.1);
}

p{
  color: white;
  font-size: 16px;
}
h4{
  color: white;
}
